New write name:
<input #newHeroName />
<button (click)="addHero(newHeroName.value); newHeroName.value=''">
  add
</button>
<h2>Select Regions</h2>
<input id="tokyo"   type="checkbox" value="tokyo" >東京
<input id="kanagwa" type="checkbox" value="kanagawa">神奈川
<input id="saitama" type="checkbox" value="saitama">埼玉
<input id="chiba"   type="checkbox" value="chiba">千葉

<p [myHighlight]="color">Difficult</p>
<input type="radio" name="colors" (click)="color='blue'">Normal
<input type="radio" name="colors" (click)="color='yellow'">Hyper
<input type="radio" name="colors" (click)="color='magenta'">Another
