<header class="navbar">
  <nav>
    <ul>
      <li id="logo"><a href="/quartz/"><img src="images/mines.svg"/></a>
      <li *ngIf="authService.isLoggedIn" class="menu"><a href="#"><span>Dashboard</span></a>
      <li *ngIf="authService.isLoggedIn" class="menu"><a href="#"><span>Reporting</span></a>
      <li *ngIf="authService.isLoggedIn" class="menu"><a href="#"><span>Segmentation</span></a>
      <li class="flone"><span class="flex_boxes"></span>
      <li class="rightmenu">
        <img class="gravatar" src="https://ja.gravatar.com/userimage/106982017/ea16b4f69e5fb4f3433546fad329c950.png" />
        <div class="menuarrow"></div>
        <div class="menubody">
          <ul>
            <li><button >Account Settings</button></li>
            <li><button (click)="logout(authService)">Logout</button></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
<article>
  <div>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
    <router-outlet></router-outlet>
  </div>
</article>
<footer>
Copyright 2016 sigver6-project
</footer>
