<form (ngSubmit)="login()"  #loginForm="ngForm" *ngIf="!authService.isLoggedIn" >
  <h2>login</h2>
  <div class="form-group">
    <input type="text" id="email" name="email" size="50" [(ngModel)]="model.email"  placeholder="Email" />
  </div>
  <div class="form-group">
    <input type="password" id="password" name="password" size="20" [(ngModel)]="model.password"  placeholder="Password" />
  </div>
  <div class="form-group">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
  </div>
  <div class="well">
    <strong>Contents:</strong>:{{diagnostic}}
  </div>
  <div [hidden]="!submitted">
    <p>submitted</p>
  </div>
</form>
