<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: rails_login_path ) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class:'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <hr/>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <hr />
    <%= link_to "Sign up now!", '/rails/register', class: "btn btn-primary" %>
  </div>
</div>
