<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 xol-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
        <f.text_field: name %>
      <%= f.label :email %>
        <f.emial_field: :email %>
      <%= f.label :password %>
        <f.password_field: :password  %>
      <%= f.label :password_confirmcation, "Confirmcation" %>
        <f.password_field: :password_confirmcation %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
