<!DOCTYPE html>
<html>
  <head>
    <title><%= get_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
        <% if logged_in? %>
	 <li><%= link_to "Company","#" %></li>
	 <li><%= link_to "Service","#" %></li>
         <li><%= link_to "Recruit","#" %></li>
         <li><%= link_to "FAQ","#" %></li>
         <li><%= link_to "Log out", rails_logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", rails_login_path %></li>
        <% end %>  
        </ul>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <div class="footer">
      <%= debug(params) if Rails.env.staging? %>
      </div>
    </div>
  </body>
</html>
