/* Master Styles */

body{
  margin:0;
  padding: 0;
  background-color: #e8ddcc;
}

h1{
  margin: 0;
  font-size: 2em;
  color: #888888;
}


header{
  display: block;
  background-color: #903E84;
}

ul{
  margin: 0;
  padding: 0;
}

nav ul{
 padding-left: 60px;
 display: flex;
 list-style-type:none;
}

nav ul li{
  color: white;
  line-height: 60px;
}

nav ul li#logo{
  width: 180px;
}

nav ul li.menu{
  width: 120px;
}

nav ul li a{
  display: block;
  line-height: 60px;
  color: white;
  text-align:center;
  text-decoration:none;
}

nav ul li a:link{
  color: white;
  text-decoration: none;
}

nav ul li a:visited{
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  color: white;
  text-decoration: none;
  background-color: #bb60ad;
}

nav ul li a:active{
  color: white;
  text-decoration: none;
  background-color: #bb60ad;
}

article{
  display: block;
  margin: 20px 60px;
  padding: 30px;
  border-radius: 20px;
  background-color: #cccccc;  
}

article ul{
  list-style-type: none;
}

footer {
  padding-left: 60px;
}

.rightmenu{
  width: 40px;
  margin-right:60px;
}

.gravatar{
  border-radius:50%;
  width: 40px;
  height: 40px;
}

.flone{
  flex: 1;
}

.flex_boxes{
  box-sizing: border-box;
}

.menubody{
  border-color: #999;
  right: 0;
  position:absolute;
  display: block;
  margin-right:60px;
}

/*
nav ul li.rightmenu div ul{
  right: 0;
  display: block;
}
*/

nav ul li.rightmenu div.menubody{
  background-color: #fff;
  top:58px;
  position:absolute;
  overflow: hidden;
  width: 200px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
}

nav ul li.rightmenu div.menubody ul{
  margin: 20px;
  padding: 0;
  display: block;
}

nav ul li.rightmenu div.menubody ul li{
  line-height: 24px;
  color: #999;
}

nav ul li.rightmenu div.menubody ul li button{
   padding: 10px;
   line-height: 30px;
   display: inline;
   color: #999;
   width: 100%;
}

nav ul li.rightmenu div.menubody ul li button:hover{
   color: #999;
}

.menuarrow {
  position:absolute;
  top: 52px;
  right:70px;

  border-color: transparent;
  border-bottom-color:white;

  border-width:0 10px 10px;
  border-style:dashed dashed solid;
  width:0;
  height:0;
 
  z-index: 1;
}
